---
layout: default
---

<!-- Page Header -->
{% if page.background %}
  <header class="masthead" style="background-image: url('{{ page.background }}')">
  {% else %}
    <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
              <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

   <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
      <h3 class="section-heading" >Neue Beiträge</h3><p>

        {{ content }}
        <!-- Home Post List -->
        {% for post in site.posts limit : 2 %}

          <article class="post-preview">
            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
              <h2 class="post-title">{{ post.title }}</h2>
              {% if post.subtitle %}
                <h3 class="post-subtitle">{{ post.subtitle }}</h3>
              {% else %}
                <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
              {% endif %}
            </a>
            <p class="post-meta">
              <!--
              Posted by
              {% if post.author %}
                {{ post.author }}
              {% else %}
                {{ site.author }}
              {% endif %}
              -->
              Erstellt am
              <!-- Whitespace added for readability -->
              {% assign m = post.date | date: "%-m" %}
              {{ post.date | date: "%-d." }}
              {% case m %}
                {% when '1' %}Januar
                {% when '2' %}Februar
                {% when '3' %}M&auml;rz
                {% when '4' %}April
                {% when '5' %}Mai
                {% when '6' %}Juni
                {% when '7' %}Juli
                {% when '8' %}August
                {% when '9' %}September
                {% when '10' %}Oktober
                {% when '11' %}November
                {% when '12' %}Dezember
              {% endcase %}
              {{ post.date | date: "%Y" }}</p>
              <!--
              {{ post.date | date: '%d. %B %Y' }}
              -->
          </article>

          <hr>

        {% endfor %}
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">Alle Beiträge &rarr;</a>
        </div>
      </div>
    </div>
  </div>


<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      <h3 class="section-heading" >Was ist Digitale Medizin?</h3><p>

      Methoden der Künstlichen Intelligenz breiten sich schneller und schneller im Alltag aus. Insbesondere im Bereich der Konsumer- und Autoindustrie. Zur Zeit hinkt die Verbreitung und der Einsatz im medizinischen Bereich den bereits vorhandenen Möglichkeiten noch hinterher. Es ist jedoch nur eine Frage der Zeit, bis sich ÄrztInnen, aber auch PatientInnen, auf den bevorstehenden Technologiewandel einstellen und damit umgehen müssen. Die Transformation des Arztberufes durch digitale Werkzeuge ist im Gange - bereiten Sie sich darauf vor!

      <br /><br />
      
      Precision Medicine, Mobile Health, Weareables, Artificial Intelligence, Big Data, Patient Engagement, Telemedizin u.v.m. sind spannende und teils kontroverse Elemente der medizinischen Digitalisierung. Anhand aktueller wissenschaftlicher Arbeiten und Projekte vermittelt der Kurs einen fundierten Einblick in neue Technologien, auch hinsichtlich ethischer und rechtlicher Gesichtspunkte. Die digitale Transformation der Medizin zu beurteilen und zu gestalten ist eine zentrale Aufgabe für das Gesundheitssystem der Gegenwart und Zukunft.
      
        <p>
          <iframe src="//www.youtube.com/embed/5bz-OoVKSmY?wmode=transparent&#038;modestbranding=1&#038;autohide=1&#038;showinfo=0&#038;rel=0" width="90%" height="320px" align="center" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </p>
      </p>
      <hr>

      <h3 class="section-heading" >Kursinhalte</h3><p>
      Die Veranstaltung dient der Vermittlung "digitaler" Kompetenzen. Es werden theoretische Grundlagen und praktische Übungen zu „intelligenten“ Werkzeugen angeboten, die das ärztliches Handeln bereits unterstützen bzw. in Zukunft noch tiefgreifender unterstützen und beeinflussen werden. Zur Förderung des interdisziplinären Austauschs ist der Kurs offen für Studierende aller Studiengänge.<br />
      Es werden u.a. folgende Themen behandelt:
      </p>
      <ul>
      <li>Wie sieht die Medizin der Zukunft aus?</li>
      <li>Was sind „smarte“ medizinische Systeme?</li>
      <li>Inwieweit können Apps und Algorithmen den Arzt ersetzen?</li>
      <li>Was ist hinsichtlich Datenschutz zu beachten?</li>
      <li>Was ist Maschinelles Lernen? Was ist Deep Learning? - Einführung in Methoden des Maschinellen Lernes / der Künstlichen Intelligenz anhand interaktiver Beispiele.</li>
      <li>Welche Risiken bringt die digitale Transformation mit sich?</li>
      <li>Wie kann die digitale Arzt-Patienten-Beziehung aussehen?</li>
      <li>Was ist die Blockchain-Technologie?</li>
      <li>Wie schwer ist es, einen Chatbot zu programmieren?</li>
      <li>Einführung in die Python-Programmierung für Mediziner.</li>
      <li> ... </li>
      </ul>

        <p>
          <img src="/img/wordcloud.png" width="90%" alt="Wordcloud Themen">
        </p> 
      

    </div>
  </div>
</div>


